/* -------------------------------------------
    Mini Popup
---------------------------------------------- */


@include set-default(
    (
        minipopup: (
            area: (
                #{$left}: 30px,
                bottom: 30px,
                z-index: 6000,
            )
        )
    )
);

.minipopup-area {
    position: fixed;
    display: flex;
    flex-direction: column-reverse;

    @include print_css( minipopup, area );
}
.minipopup-box {
    width: font-size(303px);
    margin-top: 2rem;
    padding: 2rem;
    background: #fff;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    opacity: 0;
    transition: opacity .4s, transform .4s ease-out;
    transform: translateX(if-ltr(-200%, 200%));
    font-size: font-size(14px);

    &.show {
        opacity: 1;
        transform: translateX(0);
    }

    .product {
        margin-bottom: 2rem;

        @include if-rtl {
            flex-flow: row;
        }
    }

    .product .product-media {
        flex-basis: 8rem;
        max-width: 8rem;
        margin-#{$right}: 1.8rem;
    }

    .product .product-details {
        max-width: calc(100% - 9.8rem);
        font-weight: 600;
        color: #222;
        line-height: 1;
    }

    .product-title {
        display: block;
        margin-bottom: 1.5rem;
        font-weight: 400;
        line-height: 1.4;
        letter-spacing: -0.025em;

        @include text-block();
    }

    figure {
        max-width: 9rem;
    }

    span.count {
        margin-#{$right}: 3px;
    }

    span.price {
        margin-#{$left}: 3px;
        font-size: font-size(1.3rem);
    }

    .price ins {
        margin-#{$right}: 5px;
    }

    .minipopup-footer {
        display: flex;
        justify-content: space-between;

        .btn {
            font-size: font-size(1.3rem);
            font-weight: 600;
            padding: 1.2rem 0;
            border-width: 1px;
            letter-spacing: -0.025em;
        }
    }

    .btn-viewcart {
        margin-#{$right}: 7px;
    }

    .date {
        margin-bottom: 0;
        font-size: font-size(1.2rem);
        font-weight: 400;
        text-transform: uppercase;
        color: var(--rio-primary-color);
    }
}

.minipopup-title {
    margin-bottom: 1.5rem;
    font-size: font-size(1.5rem);
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.035em;

    .btn {
        margin-#{$left}: 1rem;
    }

    i {// issue : for only long arrow right
        margin-bottom: 2px;
    }

    @include if-rtl {
        i:before {
            content: if-ltr('\e97f', '\e97e');
        }
    }
}

@media (max-width: 767px) {
    .minipopup-area {
        display: none;
    }
}