/* -------------------------------------------
	Widget 
------------------------------------------- */

@include set-default(
    (
        widget: (
            title: (
                margin-bottom: 2rem,
                padding: 1.3rem 0,
                font-size: 1.8rem,
                font-weight: 700,
                text-transform: none,
                line-height: 1,
                letter-spacing: -0.03em,
                border-bottom: 1px solid $border-color,
            )
        )
    )
);

.widget-title {
    @include print_css( widget, title );
}

.widget .contact-info {
    label {
        margin-#{$right}: 3px;
    }
    .work label {
        display: block;
        margin-bottom: 15px;
    }
}

.contact-info label {
    @include if-rtl {
        float: right;
    }
        .footer-dark & {
            color: #ccc;
        }
    
        .footer-light & {
            color: #222;
        }
    }

@include if-rtl {
    .contact-info .work label {
        float: none;
    }
}

.widget {
    .children {
        padding-#{$left}: 1.3rem;
    }
}