/* Blog Page */

@import '../config';
@import '../mixins';
@import '../direction';

/* Theme SCSS Framework */
// @set_theme_configuration

.post-archive {
    transition: height .4s;

    .blog-filters {
        padding-top: 4rem;
        margin-bottom: 3rem;
        border-top: 1px solid #e1e1e1;
    }

    .post-details {
        padding-left: .5rem;
        padding-right: .5rem;
    }
    .post-content {
        margin-bottom: 2.8rem;
        line-height: 1.85;
    }
    .post-list .post-content {
        margin-bottom: 0;
    }
    .btn::after {
        margin-top: 4px;
    }
    // Post Large
    .post-full {
        .post-media + .post-details,
        .post-media-carousel + .post-details {
            padding-top: 3.8rem;
        }

        .post-meta {
            margin-bottom: 0.6rem;
        }

        .post-title {
            margin-bottom: 1.4rem;
            font-size: font-size( 2.4rem );
        }
    }
}

// in masonry item
.posts.masonry {
    .post-wrap {
        margin-bottom: 0;
    }
}

.archive-layout main {
    padding-bottom: 10rem;
}

.post-archive .post-wrap:not(.grid-item) {
    margin-bottom: 3.5rem;
}
.post-archive .list-type-posts .post-wrap {
    margin-bottom: 2rem;
}
@include mq(md, max) {
    .post-archive .post-wrap:not(.grid-item) {
        margin-bottom: 2rem;
    }
}.post-archive .post-wrap:last-child {
    margin-bottom: 0;
}
.post-archive > .pagination {
    margin-top: 2.5rem;
}
@include mq(md, max) {
    .post-archive .post-full .post-title {
        font-size: font-size(2rem);
    }
}