/**
* Riode Admin CSS
* 
* - Menu Walker
* - Image Swatch
* - Product Custom Tab
* - Product Custom Labels
* - Page Layout ( used in customize panel and meta box )
*/

@import '../theme/mixins';
@import '../theme/direction';

$primary-color: #27c;

/**
 * Riode Mini Logo
 */
div.dashicons-riode-logo:before,
span.dashicons-riode-logo:before,
.riode-mini-logo:before {
	content: '';
	display: block;
	box-shadow: -2px 2px 0 4px;
	width: 5px;
	height: 5px;
	transform: rotate(45deg);
}
div.dashicons-riode-logo:before,
span.dashicons-riode-logo:before {
	@include if-ltr {
		margin-left: 50%;
	}
	@include if-rtl {
		margin-right: calc(50% - 5px);
	}
	margin-top: 14px;
	padding: 0;
}
#wp-admin-bar-riode .dashicons-riode-logo:before {
	margin: 50% 4px 0 10px;
}
#wp-admin-bar-riode .ab-icon.dashicons-admin-network {
	margin-top: 3px;
}
/**
* Menu Walker
*/
.menu-item {
	&:not(.menu-item-depth-0) .field-megamenu_width,
	&:not(.menu-item-depth-0) .field-megamenu {
		display: none !important;
	}
}

.menu-item-settings .edit-menu-item-image {
	margin-bottom: 10px;
}

.field-image label {
	display: block;
}

/**
* Product Custom Tab
*/
.riode_custom_tab_content_field {
	padding: side-values(5px 20px 5px 162px);
}
#riode_custom_tab_options .wp-editor-container {
	&::after {
		content: '';
		clear: both;
		display: block;
	}

	textarea {
		height: 7.5em;
	}
}

/**
* Product Custom Label
*/
.riode_custom_labels {
	padding: side-values(5px 20px 5px 162px);
	margin: 9px 0;
	font-size: 12px;
	line-height: 24px;
	h3 {
		font-weight: 400;
	}
	.wc-metabox h3 .wp-picker-container button,
	h3 label {
		width: auto;
		margin-bottom: 0;
	}
	.wp-picker-input-wrap label {
		width: auto;
		float: none;
		margin: 0;
	}
	input[type="text"].label_text,
	input[type="text"].label_image {
		width: 200px;
	}
	&.form-field .wc-metabox h3 > select,
	&.form-field .wc-metabox .text-controls > input {
		margin: side-values(0 13px 0 0);
	}
	&.form-field .wc-metabox h3 .text-controls > label {
		margin: side-values(0 6px 0 0);
	}
	.wp-picker-container {
		margin: side-values(0 7px 0 0);
	}
	.wc-metaboxes .wc-metabox:first-child {
		margin-top: 14px !important;
	}
	div.wc-metaboxes {
		border: none;
	}
	.text-controls,
	.image-controls {
		display: inline-block;
	}
}

.mfp-riode-page-layout {
	.loading:not(.loading-overlay),
	.loading-overlay.loading::after {
		animation: spin 650ms infinite linear;
		border: 2px solid #fff;
		border-radius: 32px;
		border-top: 2px solid rgba(0,0,0,0.4) !important;
		border-#{$right}: 2px solid rgba(0,0,0,0.4) !important;
		border-bottom: 2px solid rgba(0,0,0,0.4) !important;
		content: "";
		display: block;
		height: 20px;
		top: 50%;
		margin-top: -10px;
		#{$left}: 50%;
		margin-#{$left}: -10px;
		#{$right}: auto;
		position: absolute;
		width: 20px;
	}
	.loading-overlay {
		position: relative;

		&.loading::after {
			content: '';
		}
		&::before {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background: #fff;
			opacity: .8;
		}
	}

	.page_layout_options .option select {
		padding: 0 24px 0 8px;
	}

	.option {
		position: relative;
	}

	.page_layout_options .options-custom-title {
		margin-top: 20px;
	}

	.option .tooltip-wrapper {
		position: absolute;
		right: 0;
		top: 0;
		margin-top: 0;
		color: #555d66;
	}
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(359deg); }
}

#post-option .postbox-header {
	margin-bottom: 25px;

	.hndle.ui-sortable-handle {
		border-bottom: none;
	}
}

#wpbody-content {
	> .notice {
		margin-#{$left}: 0;
	}

	> .wp-list-table {
		margin-#{$right}: 20px;
	}

	> .nav-tab-wrapper {
		width: calc(100% - 20px);
	}
}

/* Riode Data Addons */
#riode_data_addons .options-group {
	border-bottom: 1px solid #e1e1e1;
}

/**
* Riode Admin Panel
*/
.riode-wrap {
	margin: side-values(30px 15px 30px 0);
	font-family: 'Poppins', sans-serif;
	border: 1px solid #d3d3d3;

	h2 {
		font-size: 26px;
		letter-spacing: -.025em;
		font-weight: 700;
		margin: 0;
		text-align: $left;

		span {
			font-weight: 400;
			color: #999;
		}
	}

	h4 {
		font-weight: 700;
		font-size: 16px;
	}

	h2, h4 {
		color: #32373c;
	}
	
	input,
	select {
		border: 1px solid #e1e2e8;
		border-radius: 3px;
		color: #5b636b;
		font-size: 12px;
		height: 32px;
		line-height: 32px;
		transition: border-color .3s;

		&:focus {
			outline: none;
			box-shadow: none;
			border-color: #e1e2e8;
		}
	}

	input[type="radio"] {
		border-radius: 50%;
	}

	input[type="radio"],
	input[type="checkbox"] {
		height: auto;
		min-height: 1rem;
		margin: side-values( 0 7px 0 0 );
	}

	input[type=radio]:checked:not(:disabled):before {
		background-color: $primary-color;
	}


	input[type=radio]:checked:not(:disabled),
	input[type=checkbox]:checked:not(:disabled) {
		border-color: $primary-color;
	}

	input[type=checkbox] {
		position: relative;
		width: 20px;
		height: 20px;

		&:before {
			content: '\f00c';
			width: 100%;
			margin: 0;
			color: $primary-color;
			font-size: 14px;
			font-family: 'Font Awesome 5 Free';
			font-weight: 900;
			line-height: 18px;
			opacity: 0;
		}

		&:disabled:before {
			color: #999;
		}

		&:checked:before {
			opacity: 1;
		}
	}
	input[type=submit] {
		height: auto;
	}

	a {
		color: $primary-color;
		transition: color .3s;
		&:hover,
		&:focus {
			color: lighten($primary-color, 10%);
			box-shadow: none;
			outline: none;
		}
	}

	.button:not(:last-child) {
		margin-#{$right}: 2px;
	}

	.button.button-large {
		padding: 7px 30px;
		font-size: 14px;
		font-weight: 700;
		line-height: 2.3;
		text-transform: uppercase;
		text-align: center;
	}
	.button-dark {
		&.button {
			color: #fff;
			background: #32373c;
			border-color: #32373c;
		}
		&:hover,
		&:focus {
			background: lighten(#32373c, 10%);
			border-color: lighten(#32373c, 10%);
		}
	}
	.button-primary {
		background: $primary-color;
		border-color: $primary-color;
		&:hover,
		&:focus {
			background: lighten($primary-color, 10%);
			border-color: lighten($primary-color, 10%);
		}
	}
	.child-theme-input input {
		height: 40px;
		padding: 1rem;
		font-size: 14px;
	}
}

/*
 * WordPress Admin Dashboard
 */
#toplevel_page_riode .wp-submenu {
	li:nth-child(3), li:nth-child(7) {
		padding-bottom: 3px;
	}
	li:nth-child(4), li:nth-child(8) {
		border-top: 1px solid #444;
		padding-top: 3px;
	}

	// Temporary for Ads (Version Control).
	li:nth-child(6) {
		position: relative;
		&::after {
			content: "New";
			display: inline-block;
			position: absolute;
			top: 5px;
			#{$right}: 15px;
			padding: 0 3px;
			background-color: #26c;
			color: #fff;
			line-height: 1.3;
			font-size: 12px;
		}
	}
}


/**
 * Admin Panel
 */
 .riode-admin-nav {
	display: flex;
	padding: 20px;
	color: #fff;
	background: #32373c;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: -.05em;

	img {
		margin-#{$right}: 45px;
	}
}

.riode-admin-menu {
	margin: 0;
	li {
		display: inline-block;
		margin: side-values(0 4px 0 0);
	}
	a {
		display: inline-block;
		padding: 0.72em 1.57em;
		border-radius: 3px;
		color: #fff;
		text-decoration: none;

		&.active,
		&:hover,
		&:focus {
			color: #fff;
			background: $primary-color;
		}
	}
	a.disabled {
		color: #999;
		background: transparent;
		pointer-events: none;
	}

	li:nth-child(6) > a {
		position: relative;
		&::after {
			content: "New";
			display: inline-block;
			position: absolute;
			top: 5px;
			#{$right}: -20px;
			padding: 2px 5px;
			background-color: #26c;
			color: #fff;
			line-height: 1.3;
			font-size: 13px;
			opacity: 1;
			transition: opacity .1s;
		}
		&:hover,
		&.active {
			&::after {
				opacity: 0;
			}
		}
	}
}

.riode-admin-panel-row {
	display: flex;
	flex-wrap: wrap;
}

.riode-admin-panel-side {
	text-align: center;
	box-sizing: border-box;

	img {
		max-width: 100%;
		height: auto;
	}

	h3 {
		font-size: 16px;
		font-weight: 400;
		color: #6d7073;
	}
}

.riode-admin-panel-header {
	padding: 35px 40px 33px;
	border-bottom: 1px solid #ebebeb;
	color: #999;
	background: #f4f5f7;

	h1 {
		margin: 0;
		padding: 0;
		color: #32373c;
		font-size: 32px;
		font-weight: 700;
		line-height: 1;
		letter-spacing: -.05em;
	}
	p {
		margin: 0;
	}

	.label-new {
		display: inline-block;
		margin-#{$left}: 10px;
		padding: 3px 7px;
		border-radius: 3px;
		font-size: 14px;
		letter-spacing: 0;
		color: #fff;
		background-color: #26c;
		vertical-align: top;
	}
}

.riode-admin-panel-steps {
	margin: 0;
	padding-#{$left}: 40px;
	border-bottom: 1px solid #ebebeb;
	color: #32373c;
	font-weight: 600;
	letter-spacing: -.05em;
	text-transform: uppercase;

	li {
		display: inline-block;
		position: relative;
		margin: 0;
		padding: 15px 0;
		margin-#{$right}: 18px;
	}
	a {
		color: inherit;
		text-decoration: none;
	}
	.active, .done {
		color: $primary-color;
	}
	li.done::after {
		color: inherit;
	}
	.active:before {
		content: '';
		position: absolute;
		bottom: 0;
		width: 100%;
		border-bottom: 4px solid $primary-color;
	}
	li:not(:last-child) {
		margin-#{$right}: 36px;
		&:after {
			content: '\f105';
			position: absolute;
			top: 50%;
			#{$right}: -23px;
			line-height: 0;
			color: #ccc;
			font-family: 'Font Awesome 5 Free';
		}
	}
}


.riode-optimize-panel-steps {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	min-height: 120px;
	padding: 20px 15%;
	margin-bottom: 10px;

	&::before {
		content: ' ';
		position: absolute;
		left: 0;
		right: 0;
		height: 10px;
		width: 100%;
		background: #f4f4f4;
	}

	&::after {
		content: ' ';
		position: absolute;
		bottom: -20px;
		width: calc(100% - 80px);
		border-top: 1px solid #e1e1e1;
		left: 50%;
		transform: translateX(-50%);
	}

	.step {
		position: relative;
		padding: 10px;
		background: #fff;
		> a {
			position: relative;
			display: block;
			width: 70px;
			height: 70px;
			background: #e1e1e1;
			border-radius: 50%;
			color: #fff;
			text-align: center;
			text-decoration: none;
			transition: background-color .3s, width .3s, height .3s;
			&.active {
				width: 90px;
				height: 90px;
				span {
					line-height: 90px;
				}
				background-color: #27c;
			}
		}
		span {
			font-size: 40px;
			font-weight: 800;
			line-height: 70px;
			text-shadow: 0 0 6px #999;
		}
		label {
			position: absolute;
			bottom: -30px;
			left: 50%;
			transform: translateX(-50%);
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: -.01em;
			color: #999;
		}
	}
}

.riode-admin-panel {
	box-shadow: 0 40px 40px 0 rgba(189,189,189,0.09);
	color: #444;
	background-color: #fff;
	font-size: 14px;
	line-height: 1.5;

	p {
		font-size: inherit;
		line-height: 1.8;
	}
	.about-description,
	.about-text {
		margin-top: 0;
	}

	.about-heading {
		margin-bottom: 0;
		font-size: 1.2rem;
		font-weight: 500;
	}

	label {
		color: #32373c;
		display: inline-block;
		vertical-align: middle;
	}
	.circle {
		margin-#{$right}: 9px;
		width: 30px;
		border: 1px solid #eee;
		border-radius: 50%;
		color: #373737;
		font-size: 14px;
		line-height: 28px;
		text-align: center;
	}

	.system-status {
		.circle {
			border: 0;
			line-height: 30px;
			color: #fff;
			background: $primary-color;
		}
		.fa-times {
			background: #dc3232;
		}
	}

	.status-notice {
		margin-top: 7px;
		color: #777;
		font-size: 12px;
		font-weight: 700;
	}

	.info-qt {
		font-size: 13px;
		color: #32373c;
		font-weight: 700;

		&:#{$before} {
			content: '\f05a';
			font-family: 'Font Awesome 5 Free';
			margin-#{$right}: 5px;
		}

		&.icon-fixed {
			position: relative;
		}

		&.icon-fixed:before {
			position: absolute;
			#{$left}: 0;
		}
	}

	.info-qt.light-info {
		margin: 0;
		font-weight: 400;
		color: #999;
		&:#{$before} {
			font-size: 15px;
			font-weight: 900;
			color: #32373c;
			margin-#{$right}: 7px;
		}
	}

	strong {
		color: #32373c;
	}

	input {
		max-width: 545px;
	}
	
	.notice-alt {
		display: inline-block;
		border-radius: 2px;
		margin-bottom: 15px;

		&.notice-success {
			color: #82b440;
			background: rgba(130,180,64,0.2);
		}
		&.notice-error {
			color: #dc3232;
			background: rgba(220,50,50,0.2);
		}
		&.notice-info {
			color: #4bb0da;
			background: rgba(75,176,218,0.2);
		}
		&.notice-warning {
			color: darken(#ffb900, 10%);
			background: rgba(255,185,0,0.2);
		}
		strong, p {
			color: inherit;
		}
	}

	.col-left {
		margin-bottom: 20px;
	}
	
	.riode-code-icon {
		vertical-align: middle;
		margin: side-values(0 10px 0 0);
	}
	pre {
		max-height: 800px;
		white-space: pre;
		overflow-y: auto;
	}
}

.riode-admin-panel-actions {
	margin: 36px 0 44px;
}

.riode-registration-form {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;

	form {
		display: flex;
		align-items: center;
	}
}

#riode_purchase_code {
	font-size: 14px;
	height: 48px;
	padding: 10px 20px;
}

#riode_registration {
	p.submit {
		padding: 0;
		margin: side-values(0 0 0 10px);
	}
}

/**
 * Panel / Support Tab
 */
.riode-support {
	position: relative;
	padding: 30px 35px;
	margin-bottom: 20px;
	min-height: 210px;
	box-sizing: border-box;
	background-color: #fafafa;
	border: 1px solid #f0f0f0;
	border-radius: 3px;

	li:before {
		content: '-';
		margin-#{$right}: 3px;
	}
	strong {
		font-weight: 700;
	}
	

	.system-status .circle {
				position: absolute;
		top: 20px;
		#{$left}: -20px;
		width: 40px;
		height: 40px;
		box-sizing: border-box;
		background: #fff;
		border: 1px solid #f3f3f3;
		border-radius: 50%;
		text-align: center;
		line-height: 40px;
	}
	.system-status {
		margin-top: 0;
		font-weight: 700;

		.success,
		&.success i {
			color: #5ca86f;
		}
		.error,
		&.error i {
			color: #c50707;
		}
	}
}

@media (min-width: 1600px) {
	.riode-support:first-child {
		width: calc(40% - 15px);
		margin-#{$right}: 15px;
			}
	.riode-support:last-child {
		width: calc(60% - 15px);
		margin-#{$left}: 15px;
		}
	}

@media (min-width: 1200px) {
	.riode-admin-panel .col-left {
		flex: 0 0 60%;
		max-width: 60%;
		padding-#{$right}: 30px;
		border-#{$right}: 1px solid #eee;
		box-sizing: border-box;
	}

	.riode-admin-panel .col-right {
		flex: 0 0 40%;
		max-width: 40%;
		padding-#{$left}: 30px;
		box-sizing: border-box;
	}
}
@media (max-width: 1199px) {
	.riode-admin-nav {
		display: block;
		text-align: center;
		padding: 40px 20px 20px;

		img {
			margin: 0 0 10px;
		}
		a {
			padding: .32em .67em;
		}
	}
}
@media (min-width: 768px) {
	.riode-admin-panel-side {
		border-#{$right}: 1px solid #ebebeb;
		flex: 0 0 20%;
		max-width: 20%;
		padding: 150px 20px;
	}

	.riode-admin-panel-content {
		flex: 0 0 80%;
		max-width: 80%;
	}

	.riode-admin-panel-body {
		padding: 40px 40px 30px;
	}
}
@media (max-width: 782px) {
	#riode_registration {
		display: block;
		.riode-code-icon {
			padding-#{$left}: 5px;
		}

		p.submit {
			margin-#{$left}: 40px;
		}
		.button {
			margin-bottom: 0;
		}
	}
	#riode_purchase_code {
		margin-bottom: 20px;
	}
}

@media (max-width: 767px) {
	.riode-admin-panel-body {
		padding: 30px 20px 30px;
	}
	.riode-admin-panel-side {
		order: 1;
		flex: 1;
		padding-top: 20px;
		border-top: 1px solid #ebebeb;
	}
	.riode-admin-panel-header {
		padding: 20px;
	}
	.riode-admin-panel-steps {
		padding-#{$left}: 20px;
	}
}

.riode-plugins a {
	color: #32373c;
	text-decoration: none;
}

/* Video Thumbnail, 360 degree gallery */
#riode-video-thumbnail {
	.rwmb-video-item {
		width: 80px;

		.mejs-overlay-play, .mejs-controls, .rwmb-media-info > *, .rwmb-edit-media {
			display: none;
		}

		.rwmb-media-info .rwmb-media-actions {
			display: block;
		}

		.rwmb-media-info {
			position: absolute;
			top: -8px;
			right: -8px;
			padding: 2px;
		}
	}

	.mejs-container:focus {
		box-shadow: none;
	}
}

#riode-video-thumbnail,
#riode-360-degree-gallery {
	.inside {
		padding: 0 9px 12px;
		margin-bottom: 0;
	}

	.rwmb-media-list {
		margin: 5px 0;
		overflow: initial;
	}

	.rwmb-media-add .button {
		padding: 0;
		background: none;
		border: none;
		text-decoration: underline;
	}

	.rwmb-field li {
		.rwmb-remove-media {
			display: none;
			text-indent: -9999px;
			position: relative;
			height: 1em;
			width: 1em;
			font-size: 1.4em;
			margin-right: 0;
			z-index: 1;

			.dashicons {
				text-indent: 0;
				position: absolute;
				top: 0;
				left: 0;
				color: #999;
				background: #fff;
				border-radius: 50%;
				height: 1em;
				width: 1em;
				line-height: 1em;

				&::before {
					content: "ï…“";
				}
			}

			&:hover .dashicons {
				color: #a00;
			}
		}

		&:hover .rwmb-remove-media {
			display: block;
		}
	}
}

#riode-360-degree-gallery {
	.rwmb-image-item {
		width: 80px;
		padding: 4px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.rwmb-image-overlay,
	.rwmb-edit-media {
		display: none;
	}

	.rwmb-image-actions {
		right: -4px;
		top: -4px;

		.dashicons {
			font-size: 18px;
		}
	}
}

/* Attribute Swatch */
#the-list {
	.swatch-value {
		display: block;
		width: 30px;
		height: 30px;
		margin-top: 4px;
		text-align: center;
		line-height: 26px;
		border-radius: 2px;
		border: 1px solid #e1e1e1;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
}
.form-table #attr_image_thumbnail img {
	object-fit: cover;
}
.riode-wc-message {
	margin: 10px;
}
#swatch_product_options {
	.expand-close { 
		float: $right;
		line-height: 24px;
	}
	.notice.inline {
		margin: 10px;
	}
	.notice p {
		margin: 0;
	}
	th {
		text-align: $left;
		padding-bottom: 20px;
	}

	table td {
		line-height: 32px;
	}

	.product_custom_swatches td > input {
		width: 32px;
		min-width: 32px;
		height: 32px;
		text-align: center;
		border: 1px solid #e1e1e1;
		border-radius: 2px;
	}

	.product_custom_swatches td > .customize-item {
		width: 16px;
		min-width: 16px;
		height: 16px;
		margin-top: 7px;
		border-color: #8c8f94;
	}

	.riode-attr-color {
		width: 30%;
	}

	.riode-attr-image {
		width: 40%;
	}

	.wp-picker-input-wrap {
		label {
			float: none;
			width: auto;
			margin: 0;
			display: inline-block;
		}

		input {
			min-width: 0;
		}

		.wp-picker-clear {
			float: none;
			width: auto;
			display: inline-block;
		}
	}

	.product_custom_swatches {
		width: calc(100% - 2em);
		margin: 0 1em 1em;
		border: 1px solid #e1e1e1;
	}
}

/* Update Tools */
#riode_tools_table {
	border: none;

	tr:nth-child(even) {
		background: #f6f7f7;
	}

	tr {
		h3 {
			margin-top: 0;
			margin-bottom: 10px;
		}

		p {
			margin-bottom: 0;

			a {
				text-decoration: underline;
			}
		}

		th, td {
			padding: 30px 40px;
		}

		td {
			text-align: right;
			vertical-align: middle;
		}

		.button {
			position: relative;
		}

		.riode-loading {
			left: 50%;
			top: 50%;
			margin: -8px 0 0 -8px;
		}
	}
}

/* Version Control */
#riode_versions_table {
	border: none;

	tr:nth-child(even) {
		background: #f6f7f7;
	}

	tr {
		h3 {
			margin-top: 0;
			margin-bottom: 10px;
		}

		p {
			margin-bottom: 0;

			a {
				text-decoration: underline;
			}
		}

		th, td {
			padding: 30px 40px;
		}

		td {
			text-align: right;
			vertical-align: middle;
		}

		.button {
			position: relative;
		}

		.riode-loading {
			left: 50%;
			top: 50%;
			margin: -8px 0 0 -8px;
		}
	}
	.warning {
		color: #9f0000;
	}
	
	.version-select {
		margin-right: 15px;
        width: 150px;
        height: 48px;
        font-size: 14px;
        padding-left: 15px;
	}
}

.riode-admin-panel-content {
	.message-list {
		position: fixed;
		top: 50px;
		right: 20px;
	}

	.riode-alert {
		margin-bottom: 20px;
		padding: 16px 18px 16px 18px;
		font-size: 14px;
		border-radius: 3px;
		color: #fff;
		width: 300px;
		opacity: 0;

		&.riode-alert-success {
			background: #a8c26e;
		}

		&.riode-alert-fail {
			background: #b10001;
		}

		.alert-title {
			text-transform: uppercase;
			line-height: 1;
			margin: 0 0 10px;
			color: #fff;
			font-size: 15px;
			font-weight: 600;
		}
	}
}